#******************* Tempory ********************
*.pyc
temp
#******************** Output ********************
release-builds
release
*.ewa
#******************* Archives *******************
*.rar
*.tar
*.7z
*.zip
*.arj
*.cab
*.lzh
#**************** Node and yarn *****************
/node_modules
yarn-error.log
yarn.lock
dist
#******************* log ************************
*.csv
log.*
