h2 Контроллер
h5 Версии
.row
  .col-sm-2.pos-name
    label Интерфейса:
  .col-sm-1.pos-info
    label#versionSowtware 0.0.0
.row
  .col-sm-2.pos-name
    label Контроллера:
  .col-sm-1.pos-info
    label#versionController 0.0.0
.row
  .col-sm-2.pos-name
    label Прошивки:
  .col-sm-1.pos-info
    label#versionFirmware 0.0.0
.row
  .col-sm-2.pos-name
    label Загрузчика:
  .col-sm-1.pos-info
    label#versionBootloader 0.0.0
.row
  .col-sm-2.pos-name
    label LUA:
  .col-sm-1.pos-info
    label#versionLua 0.0.0
br
h5 Информация
.row
  .col-sm-2.pos-name
    label Устройство:
  .col-sm-1.pos-info
    label#deviceID PDM
.row
  .col-sm-2.pos-name
    label Номер:
  .col-sm-1.pos-info
    label#uniqueNumber 00:00:00:00:00:00:00:00:00:00:00:00