.row
  #card-lua.card.col
    .card-body
      p.card-title LUA
      .card-icon
        i.fa-solid.fa-moon
      .d-flex.justify-content-center
        p#value-lua.card-text NaN
  #card-runTime.card.col
    .card-body
      p.card-title Время исполнения
      .card-icon
        i.fa-solid.fa-clock
      .d-flex.justify-content-center
        .card-text
          p#value-runTime 0
          p.units мкс
  #card-errorCounter.card.col
    .card-body
      p.card-title Счетчик ошибок
      .card-icon
        i.fa-solid.fa-bug
      .d-flex.justify-content-center
        .card-text
          p#value-errorCounter 0
.row
  #card-errorString.card.col
    .card-body
      p.card-title Ошибка LUA
      .card-icon
        i.fa-solid.fa-bug
      .d-flex.justify-content-center
        .card-text
          .errorString-box
            p#value-errorString.errorString
.row
  #card-dout-1.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 1
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-1 00.0
          p.units А
        .card-comment
          p#error-dout-1 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-1 00.0
          p.units А
  #card-dout-2.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 2
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-2 00.0
          p.units А
        .card-comment
          p#error-dout-2 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-2 00.0
          p.units А
  #card-dout-3.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 3
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-3 00.0
          p.units А
        .card-comment
          p#error-dout-3 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-3 00.0
          p.units А
  #card-dout-4.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 4
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-4 00.0
          p.units А
        .card-comment
          p#error-dout-4 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-4 00.0
          p.units А
.row
  #card-dout-5.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 5
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-5 00.0
          p.units А
        .card-comment
          p#error-dout-5 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-5 00.0
          p.units А
  #card-dout-6.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 6
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-6 00.0
          p.units А
        .card-comment
          p#error-dout-6 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-6 00.0
          p.units А
  #card-dout-7.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 7
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-7 00.0
          p.units А
        .card-comment
          p#error-dout-7 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-7 00.0
          p.units А
  #card-dout-8.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 8
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-8 00.0
          p.units А
        .card-comment
          p#error-dout-8 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-8 00.0
          p.units А
.row
  #card-dout-9.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 9
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-9 00.0
          p.units А
        .card-comment
          p#error-dout-9 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-9 00.0
          p.units А
  #card-dout-10.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 10
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-10 00.0
          p.units А
        .card-comment
          p#error-dout-10 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-10 00.0
          p.units А
  #card-dout-11.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 11
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-11 00.0
          p.units А
        .card-comment
          p#error-dout-11 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-11 00.0
          p.units А
  #card-dout-12.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 12
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-12 00.0
          p.units А
        .card-comment
          p#error-dout-12 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-12 00.0
          p.units А
.row
  #card-dout-13.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 13
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-13 00.0
          p.units А
        .card-comment
          p#error-dout-13 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-13 00.0
          p.units А
  #card-dout-14.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 14
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-14 00.0
          p.units А
        .card-comment
          p#error-dout-14 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-14 00.0
          p.units А
  #card-dout-15.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 15
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-15 00.0
          p.units А
        .card-comment
          p#error-dout-15 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-15 00.0
          p.units А
  #card-dout-16.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 16
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-16 00.0
          p.units А
        .card-comment
          p#error-dout-16 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-16 00.0
          p.units А
.row
  #card-dout-17.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 17
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-17 00.0
          p.units А
        .card-comment
          p#error-dout-17 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-17 00.0
          p.units А
  #card-dout-18.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 18
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-18 00.0
          p.units А
        .card-comment
          p#error-dout-18 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-18 00.0
          p.units А
  #card-dout-19.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 19
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-19 00.0
          p.units А
        .card-comment
          p#error-dout-19 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-19 00.0
          p.units А
  #card-dout-20.card.col
    .card-body
      p.card-title Выход
      .card-icon
        p 20
      .d-flex.justify-content-center
        .card-comment
          p#max-dout-20 00.0
          p.units А
        .card-comment
          p#error-dout-20 нет
      .d-flex.justify-content-center
        .card-text
          p#value-dout-20 00.0
          p.units А
.row
  #card-din.card.col
    .card-body
      p.card-title Цифровые входы
      .card-icon
        svg(viewBox='0 0 448 512')
          path(fill='currentColor', d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z')
      .card-table
        .row
          .col
            p 1
          .col
            p 2
          .col
            p 3
          .col
            p 4
          .col
            p 5
          .col
            p 6
          .col
            p 7
          .col
            p 8
          .col
            p 9
          .col
            p 10
          .col
            p 11
        .row
          .col
            p#value-din-1 &#x2715;
          .col
            p#value-din-2 &check;
          .col
            p#value-din-3 &#x2715;
          .col
            p#value-din-4 &#x2715;
          .col
            p#value-din-5 &#x2715;
          .col
            p#value-din-6 &#x2715;
          .col
            p#value-din-7 &#x2715;
          .col
            p#value-din-8 &#x2715;
          .col
            p#value-din-9 &#x2715;
          .col
            p#value-din-10 &#x2715;
          .col
            p#value-din-11 &#x2715;
.row
  #card-velocity-1.card.col
    .card-body
      p.card-title Обороты
      .card-icon
        p 1
      .d-flex.justify-content-center
        .card-text
          p#value-velocity-1 0
          p.units об/мин
  #card-velocity-2.card.col
    .card-body
      p.card-title Обороты
      .card-icon
        p 2
      .d-flex.justify-content-center
        .card-text
          p#value-velocity-2 0
          p.units об/мин




.row
  #card-uin-1.card.col
    .card-body
      p.card-title Вход
      .card-icon
        p 1
      .d-flex.justify-content-center
        .card-text
          p#value-uin-1 00.00
          p.units В
  #card-uin-2.card.col
    .card-body
      p.card-title Вход
      .card-icon
        p 2
      .d-flex.justify-content-center
        .card-text
          p#value-uin-2 00.00
          p.units В
  #card-uin-3.card.col
    .card-body
      p.card-title Вход
      .card-icon
        p 3
      .d-flex.justify-content-center
        .card-text
          p#value-uin-3 00.00
          p.units В
  #card-battery.card.col
    .card-body
      p.card-title Аккумулятор
      .card-icon
        i.fa-solid.fa-car-battery
      .d-flex.justify-content-center
        .card-text
          p#value-battery 14.40
          p.units В
.row
  #card-temperature.card.col
    .card-boady
      p.card-title Температура
      .card-icon
        i.fa-solid.fa-temperature-three-quarters
      .d-flex.justify-content-center
        .card-text
          p#value-temperature 0.00
          p.units ℃
  #card-roll.card.col
    .card-boady
      p.card-title Крен
      .card-icon
        i.fa-solid.fa-arrow-rotate-right
      .d-flex.justify-content-center
        .card-text
          p#value-roll 0.00
          p.units °
  #card-pitch.card.col
    .card-boady
      p.card-title Тангаж
      .card-icon
        i.fa-solid.fa-arrow-rotate-right
      .d-flex.justify-content-center
        .card-text
          p#value-pitch 0.00
          p.units °
  