doctype html
html(lang='ru')
  head
    title SIDER
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no, minimal-ui')
    meta(name='theme-color', content='#f8b739')
    meta(name='apple-mobile-web-app-title', content='SIDER')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='#373a40')
    link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#00aba9')
    meta(name='theme-color', content='#f8b739')
    link(rel='stylesheet', href='css/style.min.css')
  body(scroll='no')
    #alerts
    include titlebar.pug
    .wrapper
      include sidebar.pug
      #content.p-4.p-md-5
        include navbar.pug
        #settingsPage.content-data.hidden
          include settings.pug
        #luaPage.content-data.hidden
          include lua.pug
        #devicePage.content-data.hidden
          include controller.pug
        #scadaPage.content-data.hidden.electron
          include scada.pug
        #toolsPage.content-data.hidden.electron
          include tools.pug
        #firmwarePage.content-data.hidden.electron
          include firmware.pug
        #infoPage.content-data.hidden.electron
          include info.pug
    script(type='text/javascript', src='js/alerts.js')
    script(type='text/javascript', src='js/version.js')
    script(type='text/javascript', src='js/sidebar.js')
    script(type='text/javascript', src='js/window-buttons.js')
    script(type='text/javascript', src='js/main.js')