h2 LUA
#progressStep-container.progress-container
  #progressStage.progress
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-folder-open
    #circle-stage-0.circle
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-bug
    #circle-stage-1.circle
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-link
    #circle-stage-2.circle
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-minimize
    #circle-stage-3.circle
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-arrows-spin
    #circle-stage-4.circle
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-microchip
    #circle-stage-5.circle
  .progress-stage
    .progress-stage-top
      i.fa-brands.fa-usb
    #circle-stage-6.circle
  .progress-stage
    .progress-stage-top
      i.fa-solid.fa-upload
    #circle-stage-7.circle
.row
  #lua-cli.alert.alert-info.info-box