.ui-titlebar
  .ui-titletext SIDER PDM tools
  .ui-titlecontrols
    button#min-btn.ui-btn.minimize
      i.fa-solid.fa-window-minimize
    button#max-btn.ui-btn.maximize
      i.fa-solid.fa-window-maximize
    button#close-btn.ui-btn.exit
      i.fa-solid.fa-xmark