#sidebar {
  padding-top: 3rem;
  height: 100%;
  overflow: auto;
  min-width: 300px;
  max-width: 300px;
  background: #373a40;
  color: #fff;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  -webkit-transition: margin-left 0.3s, left 0.3s;
  -o-transition: margin-left 0.3s, left 0.3s;
  transition: margin-left 0.3s, left 0.3s; }
  #sidebar svg {
    width: 1em;
    height: 1em;}
  #sidebar.active {
    margin-left: -300px; }
  #sidebar .sidebar-button{
    height: 0;
    overflow: hidden; }
  #sidebar .footer{
    height: 100px;
    background: #373a40; }
  #sidebar .logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto; }
    #sidebar .logo span {
      display: block; }
  #sidebar .nav-major{
    background: #373a40; }
  #sidebar ul.components {
    background: #373a40;
    padding: 0; }
  #sidebar ul li {
    font-size: 16px; }
    #sidebar ul li > ul {
      background: #21252B}
      #sidebar ul li > ul li {
        font-size: 16px; }
    #sidebar .checked{
      color: #f8b739;}
      #sidebar .checked path,
      #sidebar .checked polygon,
      #sidebar .checked rect {
          fill: #f8b739;}
    #sidebar span,
    #sidebar .fas {
      display: inline-block;
    }
    #sidebar ul li a {
      padding-left: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 0px;
      display: block;
      color: #d2d3d4;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar ul li a:hover {
        background: #4d5055;}
    #sidebar ul li a .fas{
      font-size: 22px;
      width: 35px;}
    #sidebar ul li a span {
      display: inline-block;
      vertical-align: middle;
      width: 200px;}
    #sidebar path,
    #sidebar polygon,
    #sidebar rect {
      fill: #d2d3d4;
}

@media (max-width: 575.98px) {
  #sidebar {
    position: absolute;
    width: 100%;
    padding-top: 0;
    left: -575px;
    z-index: 20;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */}
    #sidebar ul.components {
      height: 100%; }
    #sidebar.active {
      left: 0; }
    #sidebar .sidebar-button{
      height: auto;
      overflow: visible;}
}

@media (max-width: 991.98px) {
  #sidebar {
    position: absolute;
    padding-top: 0;
    margin-left: -300px;
    z-index: 20;}
    #sidebar .sidebar-button{
      height: auto;
      overflow: visible;}
    #sidebar ul.components {
      height: auto; }
    #sidebar.active {
      margin-left: 0; }
}